* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: #eeedec;
  letter-spacing: 0.2em;
  font-size: 0.8em; }

.icon {
  border-radius: 50%;
  transform: translateY(-50%); }

.container {
  max-width: 400px;
  max-height: 500px; }
